extends ../layouts/common.pug

block content
	.center
		h1 Create user
		if errors
			each error in errors
				.alert.alert-danger= error

		form(action = "/user/create" ,method = "POST")
			.form-group
				label(for="name") 
					b Name
				input#name.form-control(type = "text" ,name = "name", value = values ? values.name :"")
				label(for="name") 
					b Phone
				input#phone.form-control(type = "text" ,name = "phone", value = values ? values.phone : "")
			button.btn.btn-primary Create