extends ../layouts/common.pug

block content
	h1 Create user
	a(href = "/user/create") New Create
	form(action = "/user/create" method = "POST")
		label name
		input(type = "text" name = "name")
		button Create