extends ../layouts/common.pug

block content
	h1 user
	a(href = "/user/create") Create user
	form(action = "/user/search", method = "GET")
		input(type = "text", name = "q")
		button Search
		ul 
			each user in users
				li
					span= user.name
					span &nbsp;&nbsp;&nbsp;
					a(href='/user/' + user.id) View